KevinRose.vsc-python-indent
lextudio.restructuredtext
ms-azuretools.vscode-docker
ms-python.python
ms-python.vscode-pylance
ms-toolsai.jupyter
ms-toolsai.jupyter-keymap
ms-toolsai.jupyter-renderers
ms-vscode.hexeditor
silofy.hackthebox
tomoki1207.pdf
trond-snekvik.simple-rst
VisualStudioExptTeam.vscodeintellicode
vscode-icons-team.vscode-icons
yzhang.markdown-all-in-one
